<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑 </title>
    <link rel="stylesheet" type="text/css" href="../public/index.css">
    <script src="../public/code.js"></script>
</head>

<body onselectstart="return false">
    <div class="container">
        <div class="head">
            <h1>编辑</h1>
        </div>
            <form action="/" method="post" class="contents">
                <div class="menu">
                 <!--  <form action="/" method="post" onsubmit="return validate()">  -->
                        <div class="form1">
                            <input type="text" placeholder="  Username" id="item1" name="username" required maxlength="10">
                        </div>
                        <div class="form1">
                            <input type="text" placeholder="  Number" id="item1" name="number" required min=1 maxlength="13">
                        </div>
                        <div class="form1"">
                            <button type="submit" id="item4">Sign up</button>
                        </div>
                <!--  </form>  -->
                </div>
            </form>
        <div class="foot">
            <p>made by xiaoxuan</p>
        </div>
    </div>l
</body>
</html>